strong {
    font-weight: bold;
}

.line-numbers-mode pre{
    padding-left: 1.25rem !important;
}

.line-numbers-wrapper{
    display: none !important;
}

.line-numbers-mode:after{
    display: none;
}